#map-container {
    height: 800px;
}

#map {
    height: 100%;
}

nav.navbar {
    background-image: url('static/images/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

nav.navbar .nav-link, nav.navbar .navbar-brand {
    position: relative;
    z-index: 1;
    color: #ffffff;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.leaflet-container .leaflet-popup-content-wrapper {
    background-color: #2c3e50 !important;
    color: #ffffff !important;
}

.leaflet-container .leaflet-popup-content {
    color: #ffffff !important;
}

@keyframes glow {
    0% { text-shadow: 0 0 10px #00e6e6, 0 0 20px #00e6e6, 0 0 30px #00e6e6, 0 0 40px #00e6e6; }
    100% { text-shadow: 0 0 20px #00e6e6, 0 0 30px #00e6e6, 0 0 40px #00e6e6, 0 0 50px #00e6e6; }
}

h1 {
    font-size: 3em;
    color: #00e6e6;
    text-align: center;
    animation: glow 1.5s infinite alternate;
}