<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SpaceX Dashboard</title>

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://bootswatch.com/5/vapor/bootstrap.min.css", rel="stylesheet">
    <link href="./static/css/static.css" rel="stylesheet">

    <!-- JS IMPORTS - External Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">LOGO</a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/map">Map</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/about_us">About Us</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- add spacing -->
    <br/>

    <!-- Dashboard -->
     <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>SpaceX Dashboard</h1>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                <label for="launch_filter">Min Launches</label>
                <input type="number" value="10" id="launch_filter">

                <label for="region_filter">Region</label>
                <select id="region_filter">
                    <option selected>All</option>
                    <option>California</option>
                    <option>Florida</option>
                    <option>Marshall Islands</option>
                    <option>Texas</option>
                </select>

                <button id="filter">Filter!</button>
            </div>
            <div class="col-md-6">
                <p>Bacon ipsum dolor amet ribeye chicken leberkas ham hock meatloaf bresaola shoulder. Burgdoggen porchetta buffalo, kielbasa ham chicken filet mignon sirloin pancetta. Capicola biltong strip steak, drumstick tongue chislic pork belly jowl beef swine buffalo. Hamburger cupim shank chuck turkey venison frankfurter short ribs tail. Ham hock chicken shank beef ribs picanha biltong tail rump alcatra short ribs kevin cupim pork loin.</p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                <div id="bar_chart"></div>
            </div>
            <div class="col-md-6">
                <div id="pie_chart"></div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12 text-center">
                <!-- Launch Data -->
                <h4>Launches by Launchpad</h4>
                <table id="data_table" class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Full Name</th>
                        <th>Region</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Attempts</th>
                        <th>Successes</th>
                        <th>Failures</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
     </div>

     <br/>
     <br/>

    <script src="./static/js/app.js"></script>
</body>

</html>
