<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UFO Sightings</title>

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://bootswatch.com/5/darkly/bootstrap.min.css", rel="stylesheet">
    <link href="./static/css/static.css" rel="stylesheet">

    <!-- JS IMPORTS - External Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg" style="background-image: url('/static/images/banner.jpg');" data-bs-theme="dark">
        <div class="container-fluid">
            <img src="static/icons/alien.png" alt="Logo" width="32" height="32" class="d-inline-block align-text-top">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/map">Map</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/about_us">About Us</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/work_cited">Work Cited</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- add spacing -->
    <br/>

    <!-- Dashboard -->
    <div class="container-fluid text-center">
        <h1 class="glowing-header">Have you witnessed an extraterrestrial event?</h1>
        <br/><br/>
        <img src="static/images/WantToBelieve.jpg" alt="I Want To Believe" class="img-fluid" width="400">
        <br/><br/>
        <a href="/dashboard" class="btn btn-lg btn-outline-light">Seeing is believing!</a>
    </div>

        <br/>
        <br/>
</body>

</html>
